div.box
{
width:220px;
padding:10px;
border:5px solid gray;
margin:auto;
text-align:center;
background-color:white;
font-family:"Ubuntu","Calibri","sans-serif";
box-shadow: 8px 8px 8px rgba(0,0,0,.3);
}

body
{
background-color:#4ca8ff;
}

h1
{
color:black;
font-family:"Ubuntu","Calibri","sans-serif";
text-align:center;
}

p
{
font-family:"Ubuntu","Calibri","sans-serif";
font-size:20px;
}
