div.box
{
width:90%;
padding:10px;
border:5px solid gray;
margin:auto;
text-align:center;
background-color:white;
font-family:"Ubuntu","Calibri","sans-serif";
box-shadow: 8px 8px 8px rgba(0,0,0,.3);
}

div.tab
{
float: left;
width:148px;
border:5px solid gray;
margin:12.5px;
text-align:center;
background-color:white;
font-family:"Ubuntu","Calibri","sans-serif";
box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
.last
{
margin:0;
}

div.container
{
margin:auto;
}

body
{
background-color:#4ca8ff;
}

h1
{
color:black;
font-family:"Ubuntu","Calibri","sans-serif";
text-align:center;
}

p
{
font-family:"Ubuntu","Calibri","sans-serif";
font-size:20px;
}
